@charset "UTF-8"; 


body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
		background-color: #E5E7EB;
}

.navigation {
	box-sizing: border-box;
	display: flex;
	justify-content:space-between;
	align-items:center;
	background: #82bbdf;
	width:100%;
	padding: 20px 80px;
    font-size: 24px;
	font-weight:600;
}


.container {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 40px;
}

.title-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 10px;
}

.title {
		font-size: 6.4rem;
		color: #fff;

}
.sub-title {
		font-size: 3.2rem;

}
.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.car-input-container {
    width: 100%;
    display: flex;
	flex-direction: column;
	row-gap: 10px;
	
	& label {
	  font-size:2rem;
	}
	
	& input {
	    width:100%;
		min-height: 40px;
		border: none;
		outline: none;
	}
	
}

.input-container {
	  display: flex;
	  flex-direction: column;
	  row-gap: 10px;
		
}


.info {
		font-size: 1.4rem;
}

.button {
		outline: none;
		border: none;
		cursor: pointer;
		padding: 10px;
		width: 100%;
		background-color: #A855F7;
}