@charset "UTF-8";

body {

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #e0e7ff;

}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 40px;
}

.title-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 6px;


}

.title {
	font-size: 64px;
	color: #000;
}

.sub-title {
	font-size: 32px;

}


.car-input-container {
	display: flex;
	flex-direction: column;
	row-gap: 20px;

}

.input-container {
	width: 500px;

	& label {
		font-size: 18px;
	}

	& input {
		width: 100%;
		min-height: 40px;

	}

}

.button {
	outline: none;
	border: none;
	cursor: pointer;
	min-width: 240px;
	padding: 10px;

}