@charset "UTF-8";

body {

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
    background-color: #E5E7EB;

}

.container {

    height:100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 40px;

}

.title-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 10px;

}

.title {
	font-size: 6.4rem;
    color: #fff;
   
   @media (max-width:768px){
     font-size: 5.2rem;
   }

}

.sub-title {
	font-size: 3.2rem;	
  @media(max-width:768px){
     font-size: 2.8rem;
  }	
}


.input-container {

	display:flex;
	flex-direction:column;
	row-gap: 10px;
	width:100%;

	
	& label {
	   font-size: 2rem;
	}
	
	& input {
	  width: 100%;
	  min-height: 40px;
	  border:none;
	  outline:none;
	  
	}
	
}

.info {
	font-size: 1.4rem;
}

.button {
	outline:none;
	border:none;
	cursor:pointer;
	padding: 10px;
	width:100%;
	background-color:#A855F7;

}

