@charset "UTF-8";

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
    background-color: #E5E7EB;
	
}


.navigation {
	box-sizing: border-box;
	display: flex;
	justify-content:space-between;
	align-items:center;
	background: #82bbdf;
	width:100%;
	padding: 20px 80px;
    font-size: 24px;
	font-weight:600;
}


.container {
   background-color: #fff;	
   display:flex;
   flex-direction:column;	
   row-gap: 30px;
   padding: 20px;
   margin-top: 100px;
   
}

.title {
    align-self:center;
   	font-size: 6rem;
    color: #000;
   @media (max-width:768px){
     font-size: 5rem;
   }
   
}

.result-container {	
    padding: 10px;
}





.table {
	width: 100%;		
	& th {
	  color: #A855F7;
      font-size: 1.6rem;
      text-align:left;    
      height: 30px;
     
	}	
	& td {
		color: #000;
		font-size: 1.4rem;
	}
}



.result-container { 
   display:flex;
   flex-direction: column;
   row-gap: 20px;		
}
.result-title {
 font-size: 3rem;		
 text-align:center;
}


.rank-container {		
   align-self: center; 
   
	& li {
	 font-size: 1.8rem;	
	}	
}


.form {
   display:flex;
   flex-direction: column;
   row-gap: 20px;	
		
}

.lotto-container {
	display:flex;
	flex-direction: column;
	row-gap: 4px;
	
	   
   & input {
      width: 20%;  
   }
		
		
}

.lotto-title {
   font-size: 2rem;		
		
}

.info {	
   color: #D6CECE;
   font-size: 1.6rem;	
		
}

.lotto-input-box-container {
   display:flex;	
   column-gap: 10px;
}

.button {
	outline:none;
	border:none;
	cursor:pointer;
	padding: 10px;
	width:100%;
	background-color:#A855F7;
}





