@charset "UTF-8";

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
    background-color: #E5E7EB;
	
}


.container {
   width:100%;
   background-color: #faf5ff;
   display:flex;
   flex-direction:column;	
   align-items:center;
   row-gap: 30px;
   padding: 20px;

   
}

.title {
	font-size: 6.4rem;

}
.rank {
   font-size: 3.2rem;
}

.set-container {
   background-color: #fff;
   padding: 10px;
   width: 80%;
   min-width: 300px;
		
}

.set {
	font-size: 2rem;

}