@charset "UTF-8";

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
    background-color: #E5E7EB;
	
}


.container {
   width:100%;
   background-color: #faf5ff;
   display:flex;
   flex-direction:column;	
   align-items:center;
   row-gap: 30px;
   padding: 20px;

   
}

.title {
	font-size: 6.4rem;
}

.result-title{
    font-size: 6.4rem;
}
.rank {
   font-size: 3.2rem;
}

.set-container {
   background-color: #fff;
   padding: 10px;
   width: 80%;
   min-width: 300px;
   display:flex;
   justify-content:space-between;
   align-items:center;
   font-size: 2rem;		
}

.button {
    outline:none;
	border:none;
	cursor:pointer;
	padding: 10px;
    width: 100%;
    min-width: 300px;
	background-color:#A855F7;	
}

